<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Faith Associates</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        @*Client Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandClientMenu = !expandClientMenu">
                Clients
            </NavLink>
            @if (expandClientMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/addnewclient">
                             Add New Client
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/clientlist">
                             Client List
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/clientdetails">
                             Client Detail
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Users Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandUserMenu = !expandUserMenu">
                 User
            </NavLink>
            @if (expandUserMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Add User
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             User List
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Item Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandItemMenu = !expandItemMenu">
                 Items & Duty Structure
            </NavLink>
            @if (expandItemMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Add New Item
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Item List
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Duty Structure
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Job Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandJobMenu = !expandJobMenu">
                 Jobs & Consignments
            </NavLink>
            @if (expandJobMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Home Consumption
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Into Bond
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Safe Transportation
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Consignment List
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Billing Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandBillingMenu = !expandBillingMenu">
                 Billing
            </NavLink>
            @if (expandBillingMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Create Bill
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Create PID Bill
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Supplimentry Bill
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Employee Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandEmployeeMenu = !expandEmployeeMenu">
                 Employees
            </NavLink>
            @if (expandEmployeeMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Add Employee
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Employee List
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Emp Attendence
                        </NavLink>
                    </li>

                </ul>
            }
        </div>

        @*Setup Menu*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=> expandSetupMenu = !expandSetupMenu">
                 Setups
            </NavLink>
            @if (expandSetupMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Terminals
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Shipping Lines
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             LOLO
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Ports
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Billing Heads
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="">
                             Taxes Setup
                        </NavLink>
                    </li>

                </ul>
            }
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool expandClientMenu;
    private bool expandUserMenu;
    private bool expandEmployeeMenu;
    private bool expandJobMenu;
    private bool expandItemMenu;
    private bool expandBillingMenu;
    private bool expandSetupMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
